<html>
<head>
<link rel='stylesheet' href="{{url_for('static', filename='css/main.css')}}">

	<script>
	var solution_var = '{{solution}}';
	</script>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
#fa-check:before {
    content: "\f00c";
}
#fa-close:before {
    content: "\f00d";
}

</style>
</head>

<body>
<div style='border: 1px solid; display: inline-block;'>
	<p style="float: left;">Created for:</p><img src="{{url_for('static', filename='images/kemuri_logo.png')}}" />
</div>

<br><br>
	<div class="toppane">
		<br><br>
		<label style="display: inline; border-color: white;background-color: #008CBA;color: white">Anagram puzzle</label>
		<br><br><br><br><br>
	</div>
	<br><br>
	
	<div class="rowmain" style='display: grid'>
		<div class='column'></div>
		
		<div  class="column" style='width: auto;'>
				<br>
				<!--<label>Puzzle word  <i class='fa fa-arrow-circle-right'></i></label>
				&nbsp;
				<label style="font-weight: 700;">{{puzzle}}</label>-->
				
				{%for i in range(0, length)%} 
					<label style="font-weight: 700; font-size:20px">{{puzzle[i]}}</label>
				{%endfor%} 
			

			<br><br>

			<form action="/" method="POST"  class="col-75" autocomplete="off">
			  <input type="text" id="answer" name="answer" placeholder=" Your answer {{placeholder_parm}}" required>
			  <input type="submit" value="Submit">
			</form>
		
			<div class="row" style='display: inline-flex;'>
			
			<div class="col-75">
		
				
					<input type="submit" value='Solution'  onclick="alert('Solution: {{solution}}'); document.getElementById('submit').click();" />
			&nbsp;&nbsp;	
					<form action="/" method="GET" name='new_puzzle'  class="col-75" style="display: inline;">
						<input type="submit" id='submit' value="New puzzle">
					</form>
			&nbsp;&nbsp;
					<!-- <button value='Solution' onclick="alert('Solution: {{solution}} ')">Solution</button>-->
					<!--<label {{status_style}} >{{status}}</label>-->
					
					<label class='fa' {{status_style}} {{status}} />
					
				
				</div>
				
			</div>
		</div>
		
		<div class='column'></div>
	</div>
	
</body>

</html>

